table#abs, table#mod9 {
  font-size: 8.5px;
  text-align: center;
  border-collapse: collapse;
  white-space: nowrap;
  border: 3px solid black;
}

table#abs td, table#mod9 td {
  border: 2px solid black;
}

.value0 {
  background-color: #ff0000;
  color: white;
}

.value1 {
  background-color: #0004ff;
  color: white;
}

.value2 {
  background-color: #8dcc18;
  color: white;  
}

.value3 {
  background-color: #fc4646;
  color: black;
}

.value4 {
  background-color: #585bfc;
  color: black;
}

.value5 {
  background-color: #46fc8f;
  color: black;
}

.value6 {
  background-color: #770b0b;
  color: red;
}

.value7 {
  background-color: #010266;
  color: white;
}

.value8 {
  background-color: #0e7a39;
  color: white; 
}