form#sequence_seeker, form#blockbuster {
	float:left;
	margin-right: 5px;
	font-size: 0.8em;
}
form#sequence_seeker input, form#blockbuster input {
	width: 70px;
	font-size: 0.8em;
	margin: 2px;
}

form#sequence_seeker input#min_value {
	width: 45px;
}

form#sequence_seeker input#submit, form#blockbuster input#submit {
	float: right;
}

h1#sequence_seeker {
	font-size: 1.2em;
	font-family: "Avenir Black","Courrier new", monospace;
}

p#fill_fields {
	text-align: center;
}

table#sequence_seeker {
	background-color:black;
  margin-top: 50px;
	font-size:0.7em;
	font-family: "Avenir Black","Courrier new", monospace;
	float: left;
	position: absolute;
}

.y_vertex, .delta, .offset, .c_g, .poly, .poly0, #a, #b, #c, #qtd_primes {
	background-color:gray;
	color: white;
	font-size:0.8em;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

.data, .first, .last {
		text-align: center;
}

td.poly {
	min-width: 128px;
}

td.y_vertex {
	min-width: 60px;
}

td.offset {
	min-width: 32px;
}

td.delta {
	min-width: 40px;
}

td.c_g {
	min-width: 60px;
}

#qtd_primes {
	min-width: 58px;
}

#negative {
	background-color:#F2DCDB;
	color:red;
}

#positive {
	background-color:#DCE6F1;
	color:blue;
}

#prime {
	background-color:#538DD5;
	color:white;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

#one, .par_type {
	background-color:#00B0F0;
	color: white;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

#sqrt_round {
	background-color:#FFFF00;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

#composite, .poly0 {
	background-color:#FCD5B4;
	color: black;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

#zero, tr#y0 th {
	background-color:red;
	color:white;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
	font-weight: bold;
}