html {
	background-color: black;
	color: white;
}

form#sequence_seeker, form#blockbuster {
	float:left;
	margin-right: 5px;
	font-size: 0.6em;
}
form#sequence_seeker input, form#blockbuster input {
	width: 70px;
	font-size: 0.9em;
}

form#sequence_seeker input#min_value {
	width: 48px;
}

form#sequence_seeker input#submit, form#blockbuster input#submit {
	float: right;
}

h1#sequence_seeker {
	font-size: 1em;
	font-family: "Avenir Black","Courrier new", monospace;
}

p#fill_fields {
	text-align: center;
}

table#sequence_seeker {
	background-color:black;
  margin-top: 50px;
	font-size:0.6em;
	float: left;
	position: absolute;
	font-family: "Arial Narrow", Tahoma, Arial, sans-serif;
}

.y_vertex, .delta, .offset, .c_g, .poly, .poly0, #a, #b, #c, #qtd_primes {
}

#qtd_primes, .poly, td.poly0 {
	background-color:gray;
	color: white;
}

#qtd_primes {
	background-color: greenyellow;
	color: black;
}
.data, .first, .last {
		text-align: center;
}

td.poly, td.poly0 {
	min-width: 80px;
}

td.y_vertex {
}

td.offset {
}

td.delta {
}

td.c_g {
}

#qtd_primes {
}

#negative {
	background-color:#F2DCDB;
	color:red;
}

#positive {
	background-color:#DCE6F1;
	color:blue;
}

#prime {
	background-color:#538DD5;
	color:white;
}

#one, .par_type {
	background-color:#00B0F0;
	color: white;
}

#sqrt_round {
	background-color:#FFFF00;
	color: black;
}

#composite, .poly0 {
	background-color:#FCD5B4;
	color: black;
}

#zero {
	background-color:red;
	color:white;
	font-weight: bold;
}